@page "/clasificaciones/nueva"
@page "/clasificaciones/editar/{Id:int}"
@rendermode InteractiveServer
@inject NavigationManager _navigator
@inject IRepositorioClasificaciones _repositorio

<h3>Clasificaciones</h3>

<EditForm Model="_clasificaciones" FormName="frmClasificacion" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="row mb-3">
        <label for="txtClasificacionName" class="col-2 col-form-label">Nombre</label>
        <div class="col-10">
            <InputText id="txtClasificacionName" class="form-control" @bind-Value="_clasificaciones.Name" />
            <ValidationMessage For="()=>_clasificaciones.Name" />
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <button class="btn btn-danger ms-3" @onclick="Cancelar" @onclick:preventDefault>Cancelar</button>
</EditForm>

@code {

    [Parameter]
    public int Id { get; set; }
    private string _mensaje = "";
    private Clasificacion? _clasificaciones = new();

    private async void Guardar()
    {
        if (Id > 0)
        {
            await _repositorio.Update(Id, _clasificaciones!);
        }
        else
        {
            await _repositorio.Add(_clasificaciones!);
        }
        Cancelar();
    }
    private void Cancelar()
    {
        _navigator.NavigateTo("/clasificaciones");
    }
}
